/* -------task_1----- */

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#gallery {
    max-width: 800px;
    margin: 20px auto;
}

#gallery h1 {
    margin-bottom: 20px;
}

#big-image {
    max-width: 100%;
    height: auto;     
}

#small-image-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.small-image {
    width: 80px;
    height: 60px;
    margin: 0 5px;
    cursor: pointer;
}

.small-image:hover {
    border: 2px solid #007BFF;
} */

/* -------task_2----- */
/* 
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.fridge-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 20px;
}

.product {
    width: 200px;
    border: 5px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.footer {
    margin-top: 20px;
    color: #888;
} */

/* -------task_3----- */



body {
    font-family: Arial, sans-serif;    
    padding: 50px;
    background: linear-gradient(70deg, blue, pink);
    min-height: 100vh;

}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.pricing-plan {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    margin: 20px;
    transition: transform 0.3s;
}

.pricing-plan:hover {
    transform: scale(1.1);
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 20px;
}

button {  
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

#enterprise > button{
    background-color: #0056b3;
}
#professional > button{
    background-color: orangered;
}
#standard > button{
    background-color:darkgreen;
}
#basic > button{
    background-color:grey;
}


#basic > button:hover{
    background-color: cadetblue;
}
#standard > button:hover{
    background-color:darkolivegreen;
}
#professional > button:hover{
    background-color:tomato;
}
#enterprise > button:hover{
    background-color:darkblue;
}